:root {
  --black: 24, 24, 24;
  --white: 245, 245, 245;

  --color-accent-light: 31, 166, 244;
  --color-accent-dark: 119, 95, 239;

  --color-bg: var(--white);
  --color-text: var(--black);
  --color-accent: var(--color-accent-light);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

.darkmode {
  --color-bg: var(--black);
  --color-text: var(--white);
  --color-accent: var(--color-accent-dark);
}

body {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-text));

  transition: background-color 250ms linear;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: min(90%, 500px);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
  min-height: 100dvh;
  justify-content: center;
}

.container * {
  transition: color 250ms linear, background-color 250ms linear,
    box-shadow 250ms linear, text-shadow 150ms linear;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  flex-wrap: wrap;
  justify-content: center;
}

.title {
  text-align: center;
  min-width: 50%;

  font-size: clamp(3rem, 10vw, 5rem);
  width: 90%;
}

.points {
  min-width: 50%;

  width: min(90%, 250px);
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--color-accent), 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
}

.points__title {
  background-color: rgb(var(--color-accent));
  border: none;
  color: #fff;

  text-align: center;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  z-index: -1;
}

.points__player {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--color-accent);
  width: 100%;
  gap: 0.5rem;
  font-weight: bold;
}

.points__player:last-child {
  border-bottom: none;
}

.points__label {
  width: 100%;
  text-align: right;
}

.points__value {
  width: 100%;
  text-align: left;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 3%;
}

.board__square {
  aspect-ratio: 1;
  border-radius: 15%;
  font-size: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--color-accent), 0.15);
  position: relative;
}

.darkmode .board__square {
  background-color: rgba(var(--color-accent), 0.1);
}

.board__icon {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(var(--color-accent), 1);
  pointer-events: none;

  padding: 15%;
}

.board__icon svg {
  width: 100%;
  height: 100%;

  animation: grow 0.35s ease-in-out forwards;
}

@keyframes grow {
  0% {
    transform: scale(0) rotate(0deg) translate(0, 0);
  }
  25% {
    transform: scale(0.5) rotate(5deg) translate(0, -5%);
  }
  0% {
    transform: scale(0.75) rotate(0deg) translate(0, 0);
  }
  75% {
    transform: scale(1) rotate(-5deg) translate(0, 10%);
  }
  100% {
    transform: scale(1) rotate(0deg) translate(0, 0);
  }
}

.board__square:hover {
  cursor: pointer;
}

.board__square[data-value=""]:hover {
  border-width: 2px;
}

.board__square:not([data-value=""]) {
  cursor: default;
}

.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
}

.info * {
  width: 50%;
}

.points {
  text-align: center;
}

.info .btn {
  cursor: pointer;
  background-color: rgb(var(--color-accent));
  border: none;
  color: #ffffff;
  min-width: fit-content;

  text-wrap: nowrap;

  border-radius: 10px;
  padding: 0.5rem;

  transition: box-shadow 250ms linear, color 250ms linear,
    background-color 250ms linear, box-shadow 250ms linear;
}

.info .btn:hover {
  background-color: white;
  color: rgb(var(--color-accent));

  box-shadow: 0px 0px 0px rgba(var(--color-accent), 0.5),
    inset 0px 0px 0px rgba(var(--color-text), 0.5),
    inset 2px 2px 8px rgba(var(--color-accent), 0.5);
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.toggle {
  position: relative;
  width: 60px;
  height: 30px;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50px;
  cursor: pointer;

  background-color: rgb(var(--color-accent), 0.15);
  transition: 0.4s;
}

.toggle::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: rgb(var(--color-accent));
  border-radius: 50%;
  transition: 0.4s;

  box-shadow: 0.25rem 0.25rem 0.5rem rgb(var(--color-accent), 0.1),
    0.125rem 0.125rem 0.25rem rgb(var(--white), 0.1),
    inset -0.0625rem -0.0625rem 0.25rem rgb(var(--white), 0.1),
    inset 0.0625rem 0.0625rem 0.25rem rgb(var(--black), 0.5);
}

.toggle:checked {
  background-color: rgba(var(--color-accent), 0.1);
}

.toggle:checked::before {
  transform: translateX(30px);
}
